.text-center
  = image_tag current_user.gravatar_url
  %br
  .h2
    = user.name
    = render 'follow_form' if user_signed_in?
  %table.table.table-bordered
    %thead
      %tr
        %th.text-center Content
        %th.text-center Created at
    =render microposts
