.row
  .col-md-3.col-lg-3.sidenav
    %h2
      = image_tag current_user.gravatar_url
      = current_user.name
    .list-scss
      %ul.nav.nav-pills.nav-stacked
        %li.nav-pills= link_to 'Edit profile', edit_user_registration_path, :class => "list_color"
  .col-sm-9
    %h1
      Tu cos będzie
