- @user ||= current_user
%li.nav-pills= link_to "Following #{@user.following.count}", following_user_path(@user), :class => "list_color"
%li.nav-pills= link_to "Followers #{@user.followers.count}", followers_user_path(@user), :class => "list_color"
